<p-card header="Video trực tiếp" class="shadow-lg">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 h-full">
    @for (video of store.videoSlots(); track $index) {
    <div
      class="aspect-video bg-gray-200 rounded-lg overflow-hidden flex items-center justify-center"
    >
      @if (video) {
      <video
        [src]="video.streamUrl"
        autoplay
        muted
        controls
        class="w-full h-full object-cover"
      >
        @if (video.subtitlesUrl) {
        <track
          kind="subtitles"
          [src]="video.subtitlesUrl"
          srclang="vi"
          label="Vietnamese Subtitles"
        />
        }
        <!--  -->
        @if (video.descriptionUrl) {
        <track
          kind="descriptions"
          [src]="video.descriptionUrl"
          srclang="vi"
          label="Vietnamese Descriptions"
        />
        }
      </video>
      } @else {
      <div class="text-gray-500 font-semibold text-lg">Chọn camera để xem</div>
      }
    </div>
    }
  </div>
</p-card>
